<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <title>main.html</title>

</head>

<body>
    <script>
        
        window.onload = function(){
            const errMsg = document.getElementById("errMsg").value;
            // alert(errMsg)
            if(errMsg !== "/"){
                if(errMsg==="invalidInfo/"){
                    alert("입력하신 정보가 올바르지 않습니다.")
                }else if(errMsg==="notComplete/"){
                    alert("인증완료 후에 버튼을 클릭해주세요")
                }
            }
        }
    </script>
    
    <div id="indexForm"> 
        
            
        <form action="/hometax/login" method="POST" class="form-style-1">
            <b>홈텍스 2022년 API Sample</b><br>
            <b id ="subB">홈텍스 간편인증 로그인</b><br><br>
            <input type="text" name = "userName" placeholder="이름 입력"/>
            <br/>
            <br>
            <input type="text" name = "phoneNum" placeholder="연락처 입력"/>
            <br/>
            <br>
            <input type="text" name = "birth" placeholder="생년월일(yyyymmdd)"/>
            <br>
            <input type="hidden" name = "errMsg" id ="errMsg" value = {{errMsg}}/>
            <br/>
            <input type= "submit">

        </form>
    </div>
    <br>
    
    <!-- <p>공동인증서 목록조회</p>
    <form action="/certSelect" method="POST">
        <br/>
        <input type= "submit" value = "조회">
    </form>
    <p>무신사</p>
    <form action="/musinsa" method="POST">
        <br/>
        <input type= "submit" value = "조회">
    </form> -->
    
   
    

    <script>
     
</script>

</body>
</html>