<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>main.html</title>

</head>

<body>
  
    
    <form action="/hometax/okResponse" method="POST" class="form-style-1">
        <b>Response 대기 </b><br>
        <b>모바일 인증이 완료되면 'OK' 버튼을 클릭해주세요</b><br><br>
    
        <input type="hidden" id = "postData" name = "postData" value={{postData}}>
        <input type= "submit" value="OK">
    </form>

    <div class = "result"></div>


</body>
</html>